<div class="modal fade" tabindex="-1" id="editProductModal{{id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar producto {{nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="/admin/editproduct/{{id}}" method="POST">
            <div class="form-group">
                <input type="text" name="nombre" value="{{nombre}}" placeholder="Nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="precio_compra" value="{{precio_compra}}" placeholder="Precio de compra" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="precio_venta" value="{{precio_venta}}"  placeholder="Precio a la venta" class="form-control"  required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria</label>
                <select name="fk_categoria" id="categoria" class="form-control">
                    <option value="1">Bebida</option>
                    <option value="2">Platillo</option>
                </select>
            </div> 
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
       </form>
    </div>
  </div>
</div>