{{>sidebar}}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        {{>navbar}}
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
                <h1 class="h3 mb-0">Control de cuentas</h1>                
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Cuentas</h6>
                        <div class="input-group w-50">
                            <input id="tableSearch" type="text" class="form-control mt-0 border-0 w-50"
                                placeholder="Buscar...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{#if (isData payment)}}
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>                                
                                <tr>
                                    <th>Orden</th>
                                    <th>Mesa</th>                                    
                                    <th>Total</th>                                    
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Orden</th>
                                    <th>Mesa</th>                                    
                                    <th>Total</th>
                                    <th>Opciones</th>
                                </tr>
                            </tfoot>
                            <tbody id="tbodyPayment">
                                {{#each payment}}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{mesa}}</td>                                    
                                    <td class="text-success font-weight-bold">$ {{totalpedido}}</td>
                                    <td>                                        
                                        <div class="d-flex  flex-column-reverse">
                                            <a href="/admin/detailaccount/{{id}}"
                                                class="btn btn-info btn-sm"><i class="fas fa-eye"></i>
                                                Detalle cuenta</a>
                                            <button type="button" data-toggle="modal"
                                                data-target="#paymentModal{{id}}"
                                                class="btn btn-success btn-sm my-1"><i class="fas fa-hand-holding-usd"></i>
                                                Cobrar</button>
                                        </div>
                                    </td>
                                </tr>      
                                {{>adminComponents/paymentModals/paymentModal}}                       
                                {{/each}}                                                       
                            </tbody>
                        </table>
                    </div>
                    {{else}}
                    <h3 class="text-center">Aun no hay cuentas en cobro.</h3>
                    {{/if}}
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    {{>footer}}
</div>

<script>
    const searchInput = document.getElementById('tableSearch')
    const tableBody = document.getElementById('tbodyPayment')
    liveSearch(searchInput, tableBody)
</script>
<!-- End of Content Wrapper -->